
.some-projects{
    padding: 0px 30px;

}
ul li::marker{
    color: #FF5823;
    font-size: 1.5em;
}

.heading{
    display: flex;
    justify-content: space-between;
}

.heading .date{
    background-color: var(--dark-orange);
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.fyp-bullits{
    padding: 0px 50px;
}